.productpage {
    margin-left: 710px;
    margin-top: 50px;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    top: 100px;
    color:  rgb(4, 73, 60);;
    
    
    
}